@import url(reset.css);

body{
	background-color: lightgrey;

}

.page{
	margin: 10rem;
}
h1{
	padding: .5rem 0;
	font-weight: 600;
}
form{
	border:.1rem solid tomato;
}
button{
	margin: auto 1rem;

}
fieldset{
	padding: 1rem;
}

input{
	width: 100%;
	font-size: 1.2rem;
}
label{
	display: block;
	padding-bottom: .5rem;
}

