
/*this CSS use:
font-family: 'Cairo', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
*/


/*.main page elements projects page start*/
.skills-container{
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.skills-container div{
	margin: auto;
	border: .2rem solid rgba(120, 120, 120, .8);
	border-radius: 50%;
	max-width: 10rem;
	max-height: 10rem;

}

.skills-container div p{
	padding: 40% 10%;

}
